* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;
    font-family: 'Recursive', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Righteous';
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
}

.container {
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 667px;
    margin: auto;
}

.button {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 54px;
    color: #D70900;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}